
@font-face {
  font-family: MinecraftBold;
  src: url("../Fonts/MinecraftBold-nMK1.otf");
}

body
{
	 background-image: url("../Images/minecraft_dirt.png");
}

.center_container
{
	
	display: flex;
	justify-content:center;
	
}

.title_container
{
	
	/*35% of the screen*/
	margin-top: 25vh;
	
	display: flex;
	align-items:center;
	justify-content:center;
	
	/* background-color: rgba(20, 10, 0, 0.5); */
	background-color: rgba(0, 30, 50, 0.5);
	
	padding:2%;
	height:20%;
	max-height: 200px;
	
	width: 700px;
}

.title_container h1
{
	font-family: MinecraftBold;
	font-size: 50px;
	color: #f2f2f2;
	
	padding: 0px 40px;
	
	text-shadow: 5px 5px 5px black;
}

.title_container > .title_logo
{
	max-width: 150px;
	max-height: 150px;
}

/* Style the search box inside the navigation bar */
.Search {
	border: none;
	margin-top: 20px;
	width: 700px;
	font-size: 20px;
	
	height:40px;
	text-align: center;
}

.Search::placeholder
{
}